<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Handling Form Submission</title>
</head>
<body>
<h1>Result</h1>
<hr/>
<div th:if="${message}">
    <h2 th:text="${message}"/>
</div>
<hr/>
<h4>Click the button to generate your report:</h4>
<div>
    <!--The th:action="@{/report}" expression directs the form to POST to the /report endpoint,-->
    <form method="GET" th:action="@{/report}" enctype="multipart/form-data">
        <table>
            <tr><td></td><td><input type="submit" value="Report" /></td></tr>
        </table>
    </form>
</div>
</body>
</html>